* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
  color: #333333;
}

.input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.url-input {
  padding: 1rem;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  margin-right: 1rem;
  text-align: center;
  background-color: #ffffff;
  color: #333333;
  width: 60%;
  max-width: 600px;
}

.btn-view {
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  background-color: #f72585;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn-view:hover {
  background-color: #b5179e;
}

.github-link {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  transition: all 0.2s ease-in-out;
}

.github-link:hover {
  transform: scale(1.1);
}

.github-link svg {
  fill: #ffffff;
  width: 40px;
  height: 40px;
}
